<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Stock management system</title>
</head>
  <body>
    <h1>Tool List</h1>
    <ul>
      {{#each tools}}
        <li>{{this.dataValues.sku}} - {{this.dataValues.line}} - {{this.dataValues.description}} - {{this.dataValues.count}}</li>
      {{/each}}
    </ul>
  </body>
